<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.ssafy.mytown.model.mapper.house.BaseAddrMapper">

	<select id="getSido" resultType="baseAddrDto">
		select distinct left(dongCode, 2) sidoCode, sidoName 
		from dongcode
	</select> 
	
	<select id="getGugun" resultType="baseAddrDto" parameterType="string">
		select distinct left(dongCode, 5) gugunCode, gugunName 
		from dongcode 
		where left(dongCode, 2) = #{sido} and gugunName is not null
	</select>
	
	<select id="getDong" resultType="baseAddrDto"  parameterType="string">
		select right(dongCode, 5) dongCode, dongName 
		from dongcode 
		where left(dongCode, 5) = #{gugun} and dongName is not null
	</select>
	
	<select id="getAddrByDongCode" resultType="baseAddrDto"  parameterType="string">
		select sidoName, gugunName, dongName 
		from dongCode 
		where dongCode = #{dongCode}
	</select>
</mapper>