<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.mytown.model.mapper.member.FavoriteMapper">
	<select id="list" parameterType="string" resultType="favoriteDto">
		select *
		from favorite natural join dongcode
		where favorite.userid = #{userid};
	</select>
	
	<insert id="register" parameterType="string">
		insert into favorite(userid, dongCode)
		values(#{userid}, #{dongCode})
	</insert>
	
	<delete id="delete" parameterType="string">
		delete from favorite
		where
		userid = #{userid} and dongCode = #{dongCode}
	</delete>

</mapper>